<h5>Login</h5>
<div class="row">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" value="" formControlName="email">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="" value="" formControlName="password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Iniciar Sesión</button>
    </form>
  </div>
</div>
<div class="row my-2 justify-content-center">o</div>
<div class="row">
  <app-google-button [googleBtnText]="googleBtnText"></app-google-button>
</div>
